## Peak Hours in Summer and Winter

In [38]:
summer_months = ['2014-06','2014-07','2014-08',
                 '201506','201507','201508',
                 '201606','201607','201608',
                 '201706','201707','201708']

In [39]:
starttime_list = pd.DataFrame()

for x in summer_months:
    
    #if statements to account for the inconsistent naming of the original csv files
    if len(x) == 7:
        filename = x+' - Citi Bike trip data.csv'
    elif '2018' in x:
        filename = x+'_citibikenyc_tripdata.csv'
    else:   
        filename = x+'-citibike-tripdata.csv'
    
    csv_path = os.path.join('data', filename)
    csv = pd.read_csv(csv_path)
    
    #Convert columns names to lowercase and remove spaces to ensure uniform headers
    csv.columns = csv.columns.str.lower()
    csv.columns = csv.columns.str.replace(' ','')
    
    #Create dataframe of the starttime and append to starttimelist dataframe
    starttime_df = pd.DataFrame(csv['starttime'])
    starttime_list = starttime_list.append(starttime_df)

In [41]:
starttime_list.to_csv('starttime_summer2.csv')
starttime_summer2 = pd.read_csv('starttime_summer2.csv')

In [7]:
winter_months = ['2013-12','2014-01','2014-02',
                 '201412','201501','201502',
                 '201512','201601','201602',
                 '201612','201701','201702',
                 '201712','201801','201802']

In [8]:
winter_starttime_list = pd.DataFrame()

for x in winter_months:
    
    #if statements to account for the inconsistent naming of the original csv files
    if len(x) == 7:
        filename = x+' - Citi Bike trip data.csv'
    elif '2018' in x:
        filename = x+'_citibikenyc_tripdata.csv'
    else:   
        filename = x+'-citibike-tripdata.csv'
    
    csv_path = os.path.join('data', filename)
    csv = pd.read_csv(csv_path)
    
    #Convert columns names to lowercase and remove spaces to ensure uniform headers
    csv.columns = csv.columns.str.lower()
    csv.columns = csv.columns.str.replace(' ','')
    
    #Create dataframe of the starttime and append to starttimelist dataframe
    starttime_df = pd.DataFrame(csv['starttime'])
    winter_starttime_list = winter_starttime_list.append(starttime_df)
    
    print(f'{x}')

2013-12
2014-01
2014-02
201412
201501
201502
201512
201601
201602
201612
201701
201702
201712
201801
201802

In [12]:
winter_starttime_list.to_csv('starttime_winter2.csv')
starttime_winter = pd.read_csv('starttime_winter2.csv')

## Age and Trip Duration

In [78]:
#Create list of 2017 month filenames
months_2017 = []

for x in range(12):
    if x+1<10:
        month = '2017' + str(0)+str(x+1)
    if x+1>=10:
        month = '2017' + str(x+1)
    months_2017.append(month)

In [80]:
#Caculate current year to use in calculating age in for loop
import datetime
now = datetime.datetime.now()
current_year = now.year

In [98]:
#Empty dataframe for appending results from for loop
age_df = pd.DataFrame()

In [99]:
for x in months_2017:
    
    filename = x+'-citibike-tripdata.csv'
    
    csv_path = os.path.join('data', filename)
    csv = pd.read_csv(csv_path)
    csv = pd.DataFrame(csv)
    
    #Convert columns names to lowercase and remove spaces to ensure uniform headers
    csv.columns = csv.columns.str.lower()
    csv.columns = csv.columns.str.replace(' ','')
    
    csv['birthyear'] = csv['birthyear'].fillna(0).astype(int)
    csv['age'] = current_year-csv['birthyear']
    csv['age'] = csv['age'].replace(2018, np.nan)
    
    age_tripduration = csv[['age','tripduration']]
    age_tripduration
    
    age_df = age_df.append(age_tripduration)
    
    #For tracking progress, print x, the filename month
    print(f'{x}')

201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712

In [116]:
age_df2 = age_df.drop(age_df[(age_df.age < 18) | (age_df.age>102)].index)

In [123]:
#Remove rows data where age is <18 or >115 likely due to dummy birth years entered as data
age_df3 = age_df2.groupby(by=['age'])['tripduration'].median()
age_df3 = pd.DataFrame(age_df3)
age_df3 = age_df3.reset_index()
age_df3[['age', 'tripduration']] = age_df3[['age', 'tripduration']].astype('int')
age_df3.head()

   age  tripduration
0   18           523
1   19           527
2   20           535
3   21           527
4   22           537

In [124]:
age_df3.to_csv('age_tripduration.csv')