In [4]:
import pandas as pd
import numpy as np
import os
import geopy.distance

## Customer & Gender By Month: 2013-2018

In [72]:
months_2015_2017 = []

for year in ['2015', '2016','2017']:
    for x in range(12):
        if x+1<10:
            month = year + str(0)+str(x+1)
        if x+1>=10:
            month = year + str(x+1)
        months_2015_2017.append(month)

months_2013 = ['2013-08','2013-09','2013-10','2013-11','2013-12']
months_2014 = ['2014-01','2014-02','2014-03','2014-04','2014-05','2014-06','2014-07','2014-08', '201409','201410','201411','201412']
months_2018 = ['201801','201802']
months_list = months_2013 + months_2014 + months_2015_2017 + months_2018

In [ ]:
#Create starter start/end station DataFrames which I'll use later on in the Station section

csv_path = os.path.join('data', '2013-07 - Citi Bike trip data.csv')
starter_csv = pd.read_csv(csv_path)

start_station = starter_csv.groupby('start station id').size().reset_index(name='2013-07').rename(columns={'start station id':'station_id'})
end_station = starter_csv.groupby('end station id').size().reset_index(name='2013-07').rename(columns={'end station id':'station_id'})

end_station.head()

In [73]:
subscribers = []

#Read in every monthly CSV file
for x in months_list:
    
    #if statements to account for the inconsistent naming of the original csv files
    if len(x) == 7:
        filename = x+' - Citi Bike trip data.csv'
    elif '2018' in x:
        filename = x+'_citibikenyc_tripdata.csv'
    else:   
        filename = x+'-citibike-tripdata.csv'
    
    csv_path = os.path.join('data', filename)
    csv = pd.read_csv(csv_path)
    
    #Convert columns names to lowercase and remove spaces to ensure uniform headers
    csv.columns = csv.columns.str.lower()
    csv.columns = csv.columns.str.replace(' ','')
    
    #Count the conditional values in columns
    trips = len(csv)
    customer = len(csv[csv["usertype"]=='Customer'])
    subscriber = len(csv[csv["usertype"]=='Subscriber'])
    unkn_gender = len(csv[csv["gender"]==0])
    male = len(csv[csv["gender"]==1])
    female = len(csv[csv["gender"]==2])

    #Create dictionary of all the values
    month_dict = {
        'month':x, 
        'trips':trips,
        'customer': customer, 
        'subscriber': subscriber,
        'unkn_gender': unkn_gender,
        'male':male,
        'female':female
    }
    
    #print to track the processing of each csv file
    print(f"{x}")
    
    #Append that month's dictionary to the subscribers list of dictionaries
    subscribers.append(month_dict)
    
    Build the Start Station DataFrame
    x_start_station = csv.groupby('start station id').size().reset_index(name=x).rename(columns={'start station id':'station_id'})
    start_station = pd.merge(start_station, x_start_station, on = 'station_id')
    
    #Build the End Station DataFrame
    x_end_station = csv.groupby('end station id').size().reset_index(name=x).rename(columns={'end station id':'station_id'})
    end_station = pd.merge(end_station, x_end_station, on = 'station_id')

2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
201409
201410
201411
201412
201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802

In [74]:
#Convert the subscribers list of dictionaries into a Dataframe
month_df = pd.DataFrame(subscribers)
month_df = month_df[['month','trips','customer','subscriber','unkn_gender','male','female']]
month_df

      month    trips  customer  subscriber  unkn_gender     male  female
0   2013-08  1001958    186056      815902       186096   616914  198948
1   2013-09  1034359    145169      889190       145227   669732  219400
2   2013-10  1037712     97446      940266        97498   714293  225921
3   2013-11   675774     43973      631801        44017   487386  144371
4   2013-12   443966     19381      424585        19394   335587   88985
5   2014-01   300400      7254      293146         7269   236106   57025
6   2014-02   224736      6717      218019         6731   176526   41479
7   2014-03   439117     22882      416235        22925   330568   85624
8   2014-04   670780     63047      607733        63112   473395  134273
9   2014-05   866117    107551      758566       107611   583696  174810
10  2014-06   936880    118205      818675       118352   620949  197579
11  2014-07   968842    119064      849778       119240   647466  202136
12  2014-08   963489    135874      827615       136114   630656  196719
13   201409   953887     99315      854572        99538   651493  202856
14   201410   828711     69083      759628        69361   587239  172111
15   201411   529188     28008      501180        28174   391729  109285
16   201412   399069     16495      382574        16553   306139   76377
17   201501   285552      5628      279924         5695   227764   52093
18   201502   196930      2265      194665         2303   161563   33064
19   201503   341826     12851      328975        12935   265849   63042
20   201504   652390     66213      586177        66373   457585  128432
21   201505   961986    167544      794442       167866   608007  186113
22   201506   941219    130381      810838       130973   621591  188655
23   201507  1085676    180362      905314       181410   687255  217011
24   201508  1179044    220996      958048       222326   720727  235991
25   201509  1289699    210107     1079592       211741   808558  269400
26   201510  1212277    146511     1065766       148388   807097  256792
27   201511   987245    100596      886649       102542   674702  210001
28   201512   804125     67877      736248        69526   568231  166368
29   201601   509478     24543      484935        25707   379314  104457
30   201602   560874     29825      531049        31071   417216  112587
31   201603   919921     93238      826683        95151   634219  190551
32   201604  1013149    130465      882684       132507   674132  206510
33   201605  1212280    160014     1052266       178710   783723  249847
34   201606  1460318    156832     1303486       198236   947464  314618
35   201607  1380110    201891     1178219       206664   876368  297078
36   201608  1557663    218240     1339423       218533   999541  339589
37   201609  1648856    221217     1427639       220121  1057055  371680
38   201610  1573872    153342     1402581       171919  1044921  357032
39   201611  1196942     85940     1098468       100324   827966  268652
40   201612   812192     32526      774278        42399   596628  173165
41   201701   726676     23018      700465        31835   541849  152992
42   201702   791647     42916      741151        52018   567844  171785
43   201703   727665     26777      695752        35438   538751  153476
44   201704  1315404    188860     1126544       172823   854852  287729
45   201705  1523268    189760     1333508       177580  1006280  339408
46   201706  1731594    214642     1516952       198411  1131930  401253
47   201707  1735599    261712     1473887       235194  1099384  401021
48   201708  1816498    258059     1558439       232102  1162011  422385
49   201709  1878098    234989     1643109       215442  1218524  444132
50   201710  1897592    205000     1692592       204441  1251346  441805
51   201711  1330649     89296     1241353        95722   930727  304200
52   201712   889967     34394      855573        43617   651548  194802
53   201801   718990     22105      696885        29597   537587  151806
54   201802   843104     33349      809755        40096   621743  181265

In [77]:
#Write to CSV
month_df.to_csv('month.csv')